h1 {
  color: #21043C;
  font-size: 40px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  color: #4B4B4D;
  font-size: 30px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

#left_hand_side, #right_hand_side {
  color: #E4E4CB;
  font-size: 30px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

#left_hand_side {
padding-right: 50px;
}

#right_hand_side {
padding-left: 50px;
}

.highlight {
  background-color:#FFFFB5;
}

.about {
  text-align:center;
  color: #4B4B4D;
  font-size: 14px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.footer {
  text-align:center;
  color: #4B4B4D;
  font-size: 12px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.button-red {
  background: rgb(202, 60, 60);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-blue {
  background: rgb(69, 60, 202);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-purple {
  background: rgb(76, 27, 137);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

